@import 'reset';
@import 'fonts';
@import 'global';
@import 'vars';
@import 'libs';

/*header home*/

/*menu logo registr*/
.header-home {
    background-image: url('../images/src/header-home-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 145px;
    &__inner {
        height: 535px;
    }
    &__nav {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu {
    width: 512px;
    &__list {
        display: flex;
        align-items: center;
    }
    &__item {
        & + .menu__item {
            margin-left: 51px;
        }
    }
    &__link {
        @extend %mulish-600;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: .5px;
        text-transform: uppercase;
        color: #fff;
    }
}

.register {
    width: 512px;
    &__list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__link {
        @extend %mulish-600;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: .5px;
        text-transform: uppercase;
        color: #fff;
    }
    &__booking {
        margin-right: 49px;
    }
    &__register {
        padding: 14px 29px 13px;
        background-color: #00A5F4;
        border-radius: 2px;
        margin-left: 34px;
    }
}

/*header content*/

.header-content {
    &__title {
        @extend %mulish-600;
        font-size: 36px;
        line-height: 45px;
        letter-spacing: .5px;
        color: #fff;
        text-align: center;
        margin: 118px 0 49px;
        text-shadow: 0px 1px 1px #000000;
    }
    &__wrapper {
        width: 1006px;
        margin: 0 auto;
    }
    &__filter {
        margin-bottom: 22px;
    }
    &__filter-link {
        @extend %mulish-600;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: .5px;
        color: #fff;
        text-transform: uppercase;
        padding-bottom: 2px;
        transition: all .3s;
        &:hover {
            border-bottom: 2px solid #fff;
        }
        & + .header-content__filter-link {
            margin-left: 22px;
        }
    }
    &__form {
        display: flex;
    }
    &__place-box {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 13px;
            height: 18px;
            background-image: url('../images/src/icon_location.svg');
            background-repeat: no-repeat;
            top: 16px;
            left: 13px;
        }
    }
    &__input-place {
        width: 380px;
        border-radius: 2px;
        padding: 18px 36px 16px;
        margin-right: 20px;
        &::placeholder {
            @extend %mulish-300;
            font-size: 13px;
            line-height: 16px;
            letter-spacing: .5px;
            color: #7C7C7C;
        }
    }
    &__input-data {
        width: 213px;
        border-radius: 2px;
        padding: 18px 15px 16px 41px;
        margin-right: 15px;
        border: none;
        
    }
    &__btn {
        @extend %mulish-700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: .5px;
        text-transform: uppercase;
        color: #fff;
        padding: 18px 42px 17px;
        background-color: #82C141;
        border-radius: 2px;
        border: none;
    }
}
/*header page*/
.header {
    height: 80px;
    background-image: none;
    background-color: #303030;
    margin-bottom: 0;
}




/*Footer*/

.footer {
    background-color: #303030;
    &__top {
        border-bottom: 1px solid #535353;
    }
    &__logo-box {
        height: 144px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__logo {
        display: inline-block;
    }
    &__content {
        margin-top: 11px;
        display: flex;
        justify-content: space-between;
    }
    &__setting {
        margin-top: 9px;
        width: 235px;
    }
    &__label {
        @extend %mulish-600;
        font-size: 13px;
        line-height: 32px;
        color: #fff;
        letter-spacing: .5px;
    }
    &__select {
        display: block;
        width: 100%;
        @extend %mulish-300;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: .5px;
        padding: 10px 36px 9px 13px;
        border: none;
        & + .footer__select {
            margin-top: 15px;
        }
    }
    &__info {
        display: flex;
        margin-bottom: 40px;
    }
    &__info-box {
        & +  .footer__info-box {
            margin-left: 67px;
        }
    }
    &__info-title {
        @extend %mulish-600;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: .5px;
        color: #fff;
        margin-bottom: 20px;
    }
    &__info-text {
        @extend %mulish-300;
        font-size: 13px;
        line-height: 32px;
        letter-spacing: .5px;
        color: #fff;
    }
    &__bottom-inner {
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__social {
        display: flex;
        align-items: center;
    }
    &__social-link {
        & + .footer__social-link {
            margin-left: 19px;
        }
    }
    &__copy-text {
        @extend %mulish-300;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: .5px;
        color: #fff;
    }
}

/*search section*/
.search {
    &__inner {
        height: 90px;
        background-color: #FCFCFC;
        filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.2));
    }
    &__form {
        display: flex;
        justify-content: center;
    }
    &__pickup-box, 
    &__dropoff-box,
    &__duration-box {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            width: 14px;
            height: 7px;
            background-image: url('../images/src/arow-down.svg');
            bottom: 21px;
            right: 19px;
        }
    }
    &__pickup-box, 
    &__dropoff-box {
        margin-right: 10px;
        &::before {
            content: '';
            position: absolute;
            width: 13px;
            height: 18px;
            background-image: url('../images/src/icon_location.svg');
            bottom: 18px;
            left: 13px;
        }
    }
    &__duration-box {
        &::before {
            content: '';
            position: absolute;
            width: 14px;
            height: 15px;
            background-image: url('../images/src/time.svg');
            bottom: 19px;
            left: 13px;
        }
    }

    &__pickup-select,
    &__dropoff-select,
    &__duration-select {
        display: block;
        padding: 18px 44px 16px 36px;
        background-color: #FBFBFB;
        color: #303030;
        border: .5px solid #A3A3A3;
        border-radius: 2px;
        appearance: none;
    }
    &__pickup-select,
    &__dropoff-select {
        width: 350px;
    }
    &__duration-select {
        width: 192px;
    }

    &__pickup-label,
    &__dropoff-label,
    &__duration-label {
        display: inline-block;
        margin-left: 13px;
        padding: 0 4px;
        transform: translateY(7px);
        background-color: #fff;
        @extend %mulish-700;
        font-size: 10px;
        line-height: 13px;
        color: #7C7C7C;
    }
    &__pickup-option,
    &__dropoff-option,
    &__duration-option {
        @extend %mulish-400;
        font-size: 13px;
        line-height: 16px;
        color: #303030;
    }
    &__btn {
        margin: 37px 0 0 35px;
        height: 15px;
        @extend %mulish-700;
        font-size: 12px;
        line-height: 15px;
        color: #82C141;
        text-transform: uppercase;
        letter-spacing: .5px;
    }
}

/*about section*/

.about {
    margin-bottom: 164px;
    &__title {
        text-align: center;
        @extend %mulish-600;
        font-size: 35px;
        line-height: 44px;
        letter-spacing: .5px;
        color: #303030;
        margin-bottom: 21px;
    }
    &__text {
        text-align: center;
        max-width: 636px;
        @extend %mulish-300;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: .53px;
        color: #303030;
        margin: 0 auto;
        margin-bottom: 35px;
    }
    &__links {
        display: flex;
        justify-content: center;
    }
    &__link {
        padding: 18px 48px 17px;
        border-radius: 2px;
        @extend %mulish-700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: .5px;
        text-transform: uppercase;
        color: #82C141;
        transition: all .2s;
        & + .about__link {
            margin-left: 23px;
        }
        &:hover {
            background-color: #82C141;
            color: #fff;

        }
    }
}


/*place section*/
.place {
    margin-bottom: 240px;
    &__title {
        text-align: center;
        margin-bottom: 65px;
    }
    &__item-title {
        @extend %mulish-700;
        font-size: 18px;
        line-height: 23px;
        color: #fff;
        letter-spacing: .5px;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
        text-align: center;
        margin-bottom: 17px;
    }
    &__item-links {
        display: none;
    }
    &__item-btn {
        display: inline-block;
        padding: 11px 12px 10px;
        background-color: #00A5F4;
        border-radius: 2px;
        @extend %mulish-700;
        font-size: 11px;
        line-height: 14px;
        color: #fff;
        letter-spacing: .5px;
        text-transform: uppercase;
        margin-bottom: 13px;
    }
    &__item-link {
        @extend %mulish-700;
        font-size: 11px;
        line-height: 14px;
        color: #fff;
        letter-spacing: .5px;
        text-transform: uppercase;
        padding-bottom: 2px;
        transition: all .3px;
        border-bottom: 2px solid transparent;
        &:hover {
            border-bottom: 2px solid #fff;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: all .3s;
        &:hover {
            box-shadow: 0px 0px 7px 2px #000;
            .place__item-links {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
    &__items {
        position: relative;
        display: grid;
        grid-template-columns: repeat(4, 270px);
        grid-template-rows: repeat(3, 270px);
        grid-gap: 30px;
    }
    &__london {
        background-image: url('../images/src/london.jpg');
        background-size: cover;

    }
    &__paris {
        background-image: url('../images/src/paris.jpg');
        background-size: cover;
    }
    &__dubai {
        background-image: url('../images/src/dubai.jpg');
        background-size: cover;
        grid-column-start: span 2;
        grid-row-start: span 2;
    }
    &__amsterdam {
        background-image: url('../images/src/amsterdam.jpg');
        background-size: cover;
        grid-row-start: span 2;
    }
    &__rome {
        background-image: url('../images/src/rome.jpg');
        background-size: cover;
    }
    &__new-york {
        background-image: url('../images/src/new-york.jpg');
        background-size: cover;
        grid-column-start: span 2;
    }
    &__barcelona {
        background-image: url('../images/src/barcelona.jpg');
        background-size: cover;
    }
}

/*title*/
.title {
    @extend %mulish-600;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: .5px;
    color: #303030;
}

/*slider*/
.slider {
    margin-bottom: 100px;
    &__item {
        width: 321px;
        height: 398px;
        border: 1px solid #000;
    }
}

/*contact section*/
.info {
    background-color: #F8F8F8;
    &__inner {
        padding: 95px 0 105px;
        display: flex;
        justify-content: center;
    }
    &__descriptions {
        max-width: 455px;
        margin-right: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__descriptions-title {
        @extend %mulish-600;
        font-size: 30px;
        line-height: 38px;
        letter-spacing: .5px;
        color: #303030;
        margin-bottom: 8px;
    }
    &__descriptions-text {
        max-width: 377px;
        @extend %mulish-300;
        font-size: 15px;
        line-height: 24px;
        color: #303030;
        letter-spacing: .5px;
        margin-bottom: 15px;
    }
    &__img-box {
        width: 400px;
        height: 400px;
    }
    &__links {
        display: flex;
        margin-bottom: 63px;
    }
    &__link {
        padding: 18px 43px 17px;
        border-radius: 2px;
        @extend %mulish-700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: .5px;
        text-transform: uppercase;
        color: #00A5F4;
        &:hover {
            background-color: #00A5F4;
            color: #fff;
        }
        & + .info__link {
            margin-left: 39px;
        }
    }
    &__partners-title {
        @extend %mulish-600;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: .5px;
        color: #303030;
        margin-bottom: 16px;
    }
    &__partners {
        display: flex;
        align-items: center;
    }
    &__partners-img {
        & + .info__partners-img {
            margin-left: 26px;
        }
    }
}

/*contacts section*/
.contacts {
    &__inner {
        margin: 62px 0 72px;
        height: 436px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__install,
    &__list {
        width: 486px;
        height: 188px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &__install {
        margin-right: 116px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            width: 1px;
            height: 436px;
            background-color: #E8E8E8;
            top: -125px;
            right: -80px;
        }
    }
    &__install-info,
    &__list-title {
        text-align: center;
    }
    &__install-title,
    &__list-title {
        @extend %mulish-600;
        font-size: 25px;
        line-height: 48px;
        letter-spacing: .5px;
        color: #303030;
        margin-bottom: 7px;
    }
    &__install-text,
    &__list-text {
        @extend %mulish-300;
        font-size: 18px;
        line-height: 23px;
        color: #303030;
    }

    &__btn-box {
        display: flex;
        justify-content: center;
    }
    &__link {
        & + .contacts__link {
            margin-left: 20px;
        }
    }
    &__list-input {
        width: 260px;
        padding: 18px 20px 16px 41px;
        border: 1px solid #7C7C7C;
        margin-right: -5px;
        &::placeholder {
            @extend %mulish-300;
            font-size: 13px;
            line-height: 16px;
            letter-spacing: .5px;
            color: #7C7C7C;
        }
    }
    &__list-btn {
        padding: 23px 38px 18px;
        border: none;
        background-color: #00A5F4;
        border-radius: 0px 2px 2px 0px;
        @extend %mulish-700;
        font-size: 12px;
        line-height: 15px;
        color: #fff;
        cursor: pointer;
    }
    &__list-form {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 19px;
            height: 14px;
            background-image: url('../images/src/email.svg');
            top: 23px;
            left: 12px;
        }
    }
}


.product-list {
    &__inner {
        display: flex;
        justify-content: space-between;
        margin: 89px 0 137px;
    }
    &__content {
        width: 860px;
    }
    &__filter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 35px;
        margin-bottom: 28px;
    }
    &__filter-title {
        @extend %mulish-300;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: .5px;
        color: #303030;
    }
    &__form {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            width: 14px;
            height: 7px;
            background-image: url('../images/arow-down.svg');
            top: 15px;
            right: 11px
        }
    }
    &__label {
        @extend %mulish-600;
        font-size: 13px;
        line-height: 32px;
        letter-spacing: .5px;
        color: #303030;
        margin-right: 10px;
    }
    &__select {
        width: 196px;
        appearance: none;
        border: 0.5px solid #E4E4E4;
        border-radius: 2px;
    }
    &__select {
        padding: 9px 13px 7px;
    }
    &__option {
        @extend %mulish-300;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: .5px;
    }
    &__item {
        height: 220px;
        border: 0.5px solid #eee;
        border-radius: 2px;
        & + .product-list__item {
            margin-top: 22px;
        }
        &:hover {
            border: 0.5px solid transparent;
        }
    }
    &__item-inner {
        height: 220px;
        display: flex;
        justify-content: center;
        padding: 33px 54px 34px 38px;
        border-left: 7px solid transparent;
        border-radius: 2px 0px 0px 2px;
        &:hover {
            border-left: 7px solid #00A5F4;
            box-shadow: 0px 0px 10px 1px #000;
        }
    }
    &__img {
        margin-right: 31px;

    }
    &__info {
        width: 255px;
        margin-right: 78px;
    }
    &__price {
        width: 200px;
    }
}

.filters {
    width: 321px;
    margin-right: 19px;
}





@import 'media';