@import 'reset';
@import 'fonts';
@import 'global';
@import 'vars';
@import 'libs';

/*header home*/

.header-home {
    height: 535px;
    background-image: url('../images/header-home-bg.avif');
    background-repeat: no-repeat;
    background-size: cover;
}


@import 'media';